---
layout: default
title: "Mục Lục Tác Phẩm"
---

<h1>MỤC LỤC TÁC PHẨM DỊCH</h1>
<div class="meta-info">Những tuyệt tác văn chương ngủ quên</div>
<div class="divider">❖ ❖ ❖</div>

<ul class="table-of-contents">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <div class="post-desc">
        Tác giả: {{ post.author | default: "Khuyết danh" }} • Ngày đăng: {{ post.date | date: "%d/%m/%Y" }}
        {% if post.description %}<br>{{ post.description }}{% endif %}
      </div>
    </li>
  {% else %}
    <li>Chưa có bài viết nào trong mục lục.</li>
  {% endfor %}
</ul>
